# This file contains configuration data to enable the system to resolve different types of gene identifiers using BioMart

# The base URL for BioMart
BaseURL	https://www.biomart.org/biomart/martservice

# Different supported organisms and their respective databases
OrganismDB	4577	zmays_eg_gene
OrganismDB	9986	ocuniculus_gene_ensembl
OrganismDB	10116	rnorvegicus_gene_ensembl
OrganismDB	4932	scerevisiae_gene_ensembl
OrganismDB	9606	hsapiens_gene_ensembl
OrganismDB	9031	ggallus_gene_ensembl
OrganismDB	10090	mmusculus_gene_ensembl
OrganismDB	39946	oindica_eg_gene
OrganismDB	39947	osativa_eg_gene
OrganismDB	8364	xtropicalis_gene_ensembl
OrganismDB	562	ecoli
OrganismDB	7955	drerio_gene_ensembl
OrganismDB	3702	athaliana_eg_gene
OrganismDB	9913	btaurus_gene_ensembl
OrganismDB	237561	calbicans
OrganismDB	7227	dmelanogaster_gene_ensembl
OrganismDB	6239	celegans


# Different supported gene identifier types
IDFormat	CCDS ID	ccds	CCDS	
IDFormat	CGD gene	cgd	CGD	http://www.candidagenome.org/cgi-bin/locus.pl?locus={ID}
IDFormat	EMBL	embl	EMBL	
IDFormat	Ensembl Gene	ensembl_gene_id	Ensembl	[ENSG.+,https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={ID}],[ENSMUSG.+,https://www.ensembl.org/Mus_musculus/Gene/Summary?db=core;g={ID}],https://www.ensembl.org/Multi/Search/Results?species=all;idx=;q={ID}
IDFormat	Ensembl Transcript	ensembl_transcript_id	Ensembl	https://www.ensembl.org/Multi/Search/Results?species=all;idx=;q={ID}
IDFormat	Entrez Gene	entrezgene	Entrez	https://www.ncbi.nlm.nih.gov/gene/?term={ID}
IDFormat	Entrez Gene ID	entrezgene_id	Entrez	https://www.ncbi.nlm.nih.gov/gene/?term={ID}
IDFormat	Entrez Transcript	entrezgene_trans_name	Entrez	https://www.ncbi.nlm.nih.gov/gene/?term={ID}
IDFormat	Fantom ID	fantom	Fantom	
IDFormat	GenBank protein	protein_id	GenBank	
IDFormat	HGNC ID	hgnc_id	HGNC	https://www.genenames.org/data/hgnc_data.php?match={ID}
IDFormat	HGNC symbol	hgnc_symbol	HGNC	https://www.genenames.org/data/hgnc_data.php?match={ID}
IDFormat	IRGSP ID	irgsp	IRGSP	
IDFormat	KEGG	KEGG	KEGG	https://www.genome.jp/dbget-bin/www_bget?ebr:{ID}
IDFormat	MGI ID	mgi_id	MGI	
IDFormat	MGI symbol	mgi_symbol	MGI	
IDFormat	NCBI locus tag	locus_tag	NCBI	
IDFormat	RGD ID	rgd	RGD	
IDFormat	RGD symbol	rgd_symbol	RGD	
IDFormat	RefSeq DNA	refseq_dna	RefSeq	https://www.ncbi.nlm.nih.gov/nuccore/{ID}
IDFormat	RefSeq DNA predicted	refseq_dna_predicted	RefSeq	https://www.ncbi.nlm.nih.gov/nuccore/{ID}
IDFormat	RefSeq mRNA	refseq_mrna	RefSeq	https://www.ncbi.nlm.nih.gov/nuccore/{ID}
IDFormat	RefSeq mRNA predicted	refseq_mrna_predicted	RefSeq	https://www.ncbi.nlm.nih.gov/nuccore/{ID}
IDFormat	RefSeq ncRNA predicted	refseq_ncrna_predicted	RefSeq	https://www.ncbi.nlm.nih.gov/nuccore/{ID}
IDFormat	SGD ID	sgd	SGD	
IDFormat	TAIR locus	tair_locus	TAIR	
IDFormat	TAIR locus model	tair_locus_model	TAIR	
IDFormat	TAIR symbol	tair_symbol	TAIR	
IDFormat	UCSC ID	ucsc	UCSC	
IDFormat	UniGene ID	unigene	UniGene
IDFormat	UniProtKB Gene ID	uniprot_gn_id	UniProtKB	https://www.uniprot.org/uniprot/{ID}
IDFormat	UniProtKB Gene Symbol	uniprot_gn_symbol	UniProtKB	https://www.uniprot.org/uniprotkb?query={ID}
IDFormat	WikiGene ID	wikigene_id	WikiGene	
IDFormat	WikiGene name	wikigene_name	WikiGene	


# Other identifier types (not necessarily gene IDs)
otherID	Ensembl Gene	[ENSG.+,https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={ID}],[ENSMUSG.+,https://www.ensembl.org/Mus_musculus/Gene/Summary?db=core;g={ID}],https://www.ensembl.org/Multi/Search/Results?species=all;idx=;q={ID}
otherID	Entrez	https://www.ncbi.nlm.nih.gov/gene/{ID}
otherID	HGNC	https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:{ID}
otherID	HGNC Symbol	https://www.genenames.org/data/hgnc_data.php?match={ID}
otherID	HOCOMOCO	https://hocomoco.autosome.ru/motif/{ID}
otherID	HOCOMOCOv11	https://hocomoco11.autosome.org/motif/{ID}
otherID	Homer	http://homer.ucsd.edu/homer/motif/HomerMotifDB/homerResults/motif{ID}.info.html
otherID	Jaspar Core	https://jaspar.elixir.no/matrix/{ID}.1
otherID	MGI	https://www.informatics.jax.org/marker/MGI:{ID}
otherID	MedLine	https://www.ncbi.nlm.nih.gov/pubmed/{ID}
otherID	PubMed	https://www.ncbi.nlm.nih.gov/pubmed/{ID}
otherID	RefSeq	[NP_.+,https://www.ncbi.nlm.nih.gov/protein/{ID}],https://www.ncbi.nlm.nih.gov/nuccore/{ID}
otherID	RegulomeDB	https://www.regulomedb.org/snp/{ID}
otherID	RegulonDB motif	https://regulondb.ccg.unam.mx/regulon?format=jsp&organism=&term={ID}
otherID	TF encyclopedia	https://www.cisreg.ca/cgi-bin/tfe/articles.pl?tfid={ID}
otherID	TFclass	https://tfclass.bioinf.med.uni-goettingen.de/tfclass?uniprot={ID}
otherID	UniProt	https://www.uniprot.org/uniprot/{ID}
otherID	dbSNP	https://www.ncbi.nlm.nih.gov/snp/{ID}


# Special BioMart services for genome builds that can no longer use the default BioMart
BuildDB	hg38	https://www.ensembl.org/biomart/martservice			
BuildDB	hg19	https://grch37.ensembl.org/biomart/martservice			
BuildDB	hg18	https://may2009.archive.ensembl.org/biomart/martservice			external_gene_id,chromosome_name,start_position/transcript_start,end_position/transcript_end,strand,go_biological_process_id,go_molecular_function_id,go_cellular_component_id
BuildDB	mm39	https://www.ensembl.org/biomart/martservice			
BuildDB	mm10	https://apr2020.archive.ensembl.org/biomart/martservice			
BuildDB	mm9	https://may2009.archive.ensembl.org/biomart/martservice	
BuildDB	rn7	https://www.ensembl.org/biomart/martservice			
BuildDB	rn6	https://feb2021.archive.ensembl.org/biomart/martservice			
BuildDB	rn5	https://feb2014.archive.ensembl.org/biomart/martservice			
BuildDB	galGal6	https://www.ensembl.org/biomart/martservice			
BuildDB	galGal4	https://feb2014.archive.ensembl.org/biomart/martservice			
BuildDB	galGal3	https://may2009.archive.ensembl.org/biomart/martservice			
BuildDB	danRer11	https://www.ensembl.org/biomart/martservice	
BuildDB	danRer6	https://may2009.archive.ensembl.org/biomart/martservice	
BuildDB	bosTau9	https://www.ensembl.org/biomart/martservice	
BuildDB	bosTau4	https://may2009.archive.ensembl.org/biomart/martservice	
BuildDB	xenTro10	https://www.ensembl.org/biomart/martservice	
BuildDB	oryCun2	https://www.ensembl.org/biomart/martservice	
BuildDB	dm6	https://www.ensembl.org/biomart/martservice	
BuildDB	dm3	https://feb2014.archive.ensembl.org/biomart/martservice	
#BuildDB	AGPv3	https://plants.ensembl.org/biomart/martservice	plants_mart	0.7				
BuildDB	ASM456v1	https://plants.ensembl.org/biomart/martservice	plants_mart	0.7	
BuildDB	IRGSP-1.0	https://plants.ensembl.org/biomart/martservice	plants_mart	0.7	
BuildDB	TAIR10	https://plants.ensembl.org/biomart/martservice	plants_mart	0.7	
BuildDB	sacCer2	webfile=sacCer2_ensGenes
BuildDB	sacCer3	webfile=sacCer3_ensGenes
BuildDB	REL606	webfile=eColi_REL606			
BuildDB	A21	webfile=A21_genes
BuildDB	ce11	webfile=ce11_ensGenes