# This file contains information on all organisms currently supported by the system.
# Each row contains the following information about a single organism in tab-separated fields:
# 1) NCBI taxonomy ID for the organism
# 2) A common english name
# 3) The latin name
# 4) A comma-separated list of supported genome builds for this organism. The first will be the default build. (The list can be empty if no builds are supported). Each genome build can list multiple alternative names separated by vertical bars '|'. The default name should be listed first in each group
# 5) A string specifying the clade: 'mammal', 'vertebrate', 'insect' or 'other' (corresponding to UCSC usage)

9606	Human	Homo sapiens	hg38|hg20|GRCh38|GRCh_38,hg19|GRCh37|GRCh_37,hg18|NCBI36|NCBI_36	mammal
10090	Mouse	Mus musculus	mm39|GRCm39|mm11,mm10|NCBIM38|NCBIM_38|GRCm38,mm9|NCBIM37|NCBIM_37,mm8|NCBIM36|NCBIM_36	mammal
10116	Rat	Rattus norvegicus	rn7|mRatBN7.2,rn6|RGSC6|RGSC_6,rn5|RGSC5|RGSC_5,rn4|RGSC3.4|RGSC_3.4|Baylor 3.4	mammal
9031	Chicken	Gallus gallus	galGal6|GRCg6a,galGal5,galGal4,galGal3|WUGSC2.1|WUGSC_2.1	vertebrate
9913	Cow	Bos taurus	bosTau9|ARS-UCD1.2,bosTau4|Baylor 4.0|Baylor_4.0	mammal
9986	Rabbit	Oryctolagus cuniculus	oryCun2	vertebrate
8364	Frog	Xenopus tropicalis	xenTro10|UCB_Xtro_10	vertebrate
7955	Zebrafish	Danio rerio	danRer11|GRCz11,danRer6|Zv8|Zv_8,danRer5|Zv7|Zv_7	vertebrate
7227	Fruit fly	Drosophila melanogaster	dm6,dm3|BDGP R5|BDGP_R5	insect
4577	Maize	Zea mays	AGPv3	plant
3702	Thale cress	Arabidopsis thaliana	TAIR10	plant
39946	Rice (Indica)	Oryza sativa Indica	ASM456v1	plant
39947	Rice (Japonica)	Oryza sativa Japonica	IRGSP-1.0	plant
6239	Roundworm	C. Elegans	ce11|WBcel235	nematode
4932	Yeast	Saccharomyces cerevisiae	sacCer3|R64-1-1,sacCer2|SGD|SGD/S288C|EF4	fungus
237561	C. Albicans	Candida Albicans	A21	fungus
562	E. coli	Escherichia coli	REL606	bacteria