1	Basic Domains	255,0,0
1.1	Leucine zipper factors (bZIP)	255,40,0
1.1.1	AP-1(-like) components
1.1.1.1	Jun
1.1.1.2	Fos
1.1.1.3	Maf
1.1.1.4	NF-E2
1.1.1.5	fungal AP-1-like factors
1.1.1.6	CRE-BP/ATF
1.1.1.0	Others
1.1.2	CREB
1.1.2.0	CREB
1.1.3	C/EBP-like factors
1.1.3.0	C/EBP-like factors
1.1.4	bZIP / PAR
1.1.4.0	bZIP / PAR
1.1.5	Plant G-box binding factors
1.1.5.1	CPRF-2 ("V")
1.1.5.2	EmBP-1 ("E")
1.1.5.3	HBP-1a ("Q")
1.1.5.4	TGA1a ("L/M")
1.1.5.5	TGA1b ("R")
1.1.6	ZIP only
1.1.6.0	ZIP only
1.1.0	Other bZIP factors
1.1.0.0	Other bZIP factors
1.2	Helix-loop-helix factors (bHLH)	220,20,60
1.2.1	Ubiquitous (class A) factors
1.2.1.0	Ubiquitous (class A) factors
1.2.2	Myogenic transcription factors
1.2.2.0	Myogenic transcription factors
1.2.3	Achaete-Scute
1.2.3.0	Achaete-Scute
1.2.4	Tal/Twist/Atonal/Hen
1.2.4.1	Lymphoid factors
1.2.4.2	Mesodermal Twist-like factors
1.2.4.3	HEN
1.2.4.4	Atonal
1.2.4.5	Pancreatic factors
1.2.5	Hairy
1.2.5.1	Hairy
1.2.5.2	Esp
1.2.5.3	Fungal regulators
1.2.6	Factors with PAS domain
1.2.6.0	Factors with PAS domain
1.2.7	INO
1.2.7.0	INO
1.2.8	HLH domain only
1.2.8.0	HLH domain only
1.2.0	Other bHLH factors
1.2.0.0	Other bHLH factors
1.3	Helix-loop-helix / leucine zipper factors (bHLH-ZIP)	250,128,114
1.3.1	Ubiquitous bHLH-ZIP factors
1.3.1.1	TFE3
1.3.1.2	USF
1.3.1.3	SREBP
1.3.1.4	AP-4
1.3.2	Cell-cycle controlling factors
1.3.2.1	Myc
1.3.2.2	Mad/Max
1.6	bHSH	192,32,32
1.6.1	AP-2
1.6.1.0	AP-2
2	Zinc-coordinating DNA-binding domains	0,0,255
2.1	Cys4 zinc finger of nuclear receptor type	0,0,180
2.1.1	Steroid hormone receptors (NR3)
2.1.1.1	Corticoid receptors (NR3C)
2.1.1.2	Progesterone receptor (NR3C)
2.1.1.3	Androgen receptor (NR3C)
2.1.1.4	Estrogen receptor (NR3A)
2.1.1.5	Estrogen related receptor (NR3B)
2.1.2	Thyroid hormone receptor-like factors (NR0, NR1, NR2, NR4, NR5, NR6)
2.1.2.1	Thyroid hormone receptors (NR1A)
2.1.2.2	Retinoic acid receptors (NR1B)
2.1.2.3	PPAR (NR1C)
2.1.2.4	Rev-Erb receptors (NR1D)
2.1.2.5	NR1E
2.1.2.6	ROR (NR1F)
2.1.2.8	EcR/LXR/FXR (NR1H)
2.1.2.9	VDR/PXR/CAR (NR1I)
2.1.2.10	NR1J
2.1.2.11	HNF-4 (NR2A)
2.1.2.12	Retinoid X receptors (NR2B)
2.1.2.13	NR2C
2.1.2.14	NR2D
2.1.2.15	NR2E
2.1.2.16	COUP (NR2F)
2.1.2.17	Neuron-derived orphan receptors (NR4A)
2.1.2.18	FTZ-F1 related factors (NR5A)
2.1.2.19	NR5B
2.1.2.20	germ cell derived nuclear receptors (NR6A)
2.1.2.21	Knirps (NR0A)
2.1.2.22	NR0B
2.2	diverse Cys4 zinc fingers	0,191,255
2.2.1	GATA-Factors
2.2.1.1	vertebral GATA-Factors
2.2.1.2	fungal metabolic regulators
2.2.2	Trithorax
2.2.2.0	Trithorax
2.2.0	Other factors
2.2.0.0	Other factors
2.3	Cys2His2 zinc finger domain	30,144,255
2.3.1	Ubiquitous factors
2.3.1.0	Ubiquitous factors
2.3.2	Developmental / cell cycle regulators
2.3.2.1	Egr/Krox
2.3.2.2	Krueppel-like
2.3.2.3	GLI-like
2.3.2.4	Gfi-like
2.3.2.0	Others
2.3.3	Metabolic regulators in fungi
2.3.3.0	Metabolic regulators in fungi
2.3.4	Large factors with NF-6B-like binding properties
2.3.5	Viral regulators
2.4	Cys6 cysteine-zinc cluster	50,100,180
2.4.1	Metabolic regulators in fungi
2.4.1.0	Metabolic regulators in fungi
2.5	Zinc fingers of alternating composition	135,206,250
2.5.1	Cx7Hx8Cx4C zinc fingers
2.5.1.0	Cx7Hx8Cx4C zinc fingers
2.5.2	Cx2Hx4Hx4C zinc fingers
2.5.2.0	Cx2Hx4Hx4C zinc fingers
3	Helix-turn-helix	255,255,0
3.1	Homeo domain	255,240,0
3.1.1	Homeo domain only
3.1.1.1	AbdB
3.1.1.2	Antp
3.1.1.3	Cad
3.1.1.4	Cut
3.1.1.5	Dll
3.1.1.6	Ems
3.1.1.7	En
3.1.1.8	Eve
3.1.1.9	Prd
3.1.1.10	HD-ZIP
3.1.1.11	H2.0
3.1.1.12	HNF1
3.1.1.13	Lab
3.1.1.14	Msh
3.1.1.15	NK-2/Nkx
3.1.1.16	Bcd
3.1.1.17	XANF
3.1.1.18	PBC
3.1.1.0	not assigned
3.1.2	POU domain factors
3.1.2.1	I
3.1.2.2	II
3.1.2.3	III
3.1.2.4	IV
3.1.2.5	V
3.1.2.6	VI
3.1.2.0	other POU factors
3.1.3	Homeo domain with LIM region
3.1.3.1	Homeo domain with LIM region
3.1.3.2	LIM-only transcription (co-)factors
3.1.4	homeo domain plus zinc finger motifs
3.1.4.0	homeo domain plus zinc finger motifs
3.2	Paired box	255,215,0
3.2.1	Paired plus homeo domain
3.2.1.0	Paired plus homeo domain
3.2.2	Paired domain only
3.2.2.1	Pax-1 and homologs
3.2.2.2	Pax-2 and homologs
3.2.2.3	Pax-5
3.2.2.4	Pax-8
3.2.2.5	Pax-9
3.3	Fork head / winged helix	255,255,48
3.3.1	Developmental regulators
3.3.1.0	Developmental regulators
3.3.2	Tissue-specific regulators
3.3.2.0	Tissue-specific regulators
3.3.3	Cell-cycle controlling factors
3.3.3.1	vertebrate E2F
3.3.3.2	DP
3.3.3.3	insect E2F
3.3.3.4	fungal E2F
3.3.3.5	plant E2F
3.3.4	Regulators with a DNA recognition wing
3.3.4.1	RFX
3.3.0	Other regulators
3.3.0.0	Other regulators
3.4	Heat shock factors	255,250,141
3.4.1	HSF
3.4.1.0	HSF
3.5	Tryptophan clusters	255,215,80
3.5.1	Myb
3.5.1.1	Myb-factors
3.5.1.2	Myb-like factors
3.5.2	Ets-type
3.5.2.0	Ets-type
3.5.3	Interferon-regulating factors
3.5.3.0	Interferon-regulating factors
3.6	TEA domain	240,200,80
3.6.1	TEA
3.6.1.0	TEA
3.6.1.1	vertebrate TEA/ATTS, muscle-spesific
4	beta-Scaffold Factors with Minor Groove Contacts	0,255,0
4.1	RHR (Rel homology region)	173,255,47
4.1.1	Rel/ankyrin
4.1.1.0	Rel/ankyrin
4.1.2	ankyrin only
4.1.2.0	ankyrin only
4.1.3	NF-AT
4.1.3.0	NF-AT
4.2	STAT	124,252,0
4.2.1	STAT
4.2.1.0	STAT
4.3	p53	0,240,0
4.3.1	p53-like
4.3.1.1	p53
4.3.1.2	p63
4.3.1.3	p73
4.4	MADS box	50,205,50
4.4.1	Regulators of differentiation
4.4.1.1	MEF-2
4.4.1.2	homeotic genes
4.4.1.3	yeast regulators
4.4.2	Responders to external signals
4.4.2.0	Responders to external signals
4.4.3	Metabolic regulators
4.4.3.0	Metabolic regulators
4.5	beta-Barrel alpha-helix transcription factors	152,251,152
4.5.1	E2
4.5.1.0	E2
4.6	TATA-binding proteins	144,238,144
4.6.1	TBP
4.6.1.0	TBP
4.7	HMG	0,250,154
4.7.1	SOX
4.7.1.0	SOX
4.7.2	TCF-1
4.7.2.0	TCF-1
4.7.3	HMG2-related
4.7.3.0	HMG2-related
4.7.4	UBF
4.7.4.0	UBF
4.7.5	MATA
4.7.5.0	MATA
4.7.0	Other HMG box factors
4.7.0.0	Other HMG box factors
4.8	Histone fold	60,179,113
4.8.1	Heteromeric CCAAT factors
4.8.1.0	Heteromeric CCAAT factors
4.8.2	General transcription factors with histone fold
4.8.2.0	General transcription factors with histone fold
4.9	Grainyhead	0,128,0
4.9.1	LSF/CP2
4.9.1.0	LSF/CP2
4.9.2	Grainyhead
4.9.2.0	Grainyhead
4.10	Cold-shock domain factors	107,142,35
4.10.1	csd
4.10.1.1	A (DbpA-like)
4.10.1.2	B (YB-1/DbpB-like)
4.10.1.3	C (FRG Y2-like)
4.11	Runt	154,205,50
4.11.1	Runt
4.11.1.1	PEBP2alphaA
4.11.1.2	PEBP2alphaB
4.11.1.3	PEBP2alphaC
4.11.1.4	Runt
4.11.1.5	Lozenge
4.12	SMAD/NF-1	0,100,0
4.12.1	SMAD
4.12.1.1	receptor-regulated SMADs
4.12.1.2	common mediator SMADs
4.12.1.3	inhibitory SMADs
4.12.2	NF-1
4.12.2.0	NF-1
0	Other Transcription Factors	128,128,128
0.1	Copper fist proteins	64,64,64
0.1.1	Fungal regulators
0.1.1.0	Fungal regulators
0.2	HMGI(Y)	128,128,128
0.2.1	HMGI(Y)
0.2.1.0	HMGI(Y)
0.3	Pocket domain	169,169,169
0.3.1	Rb
0.3.1.0	Rb
0.3.2	CBP
0.3.2.0	CBP
0.4	E1A-like factors	112,128,144
0.4.1	E1A
0.4.1.0	E1A
0.5	AP2/EREBP-related factors	226,226,226
0.5.1	AP2
0.5.1.0	AP2
0.5.2	EREBP
0.5.2.0	EREBP
0.5.3	AP2/B3
0.5.3.0	AP2/B3
