# This file contains information on all organisms currently supported by the system.
# Each row contains the following information about a single organism in tab-separated fields:
# 1) NCBI taxonomy ID for the organism
# 2) A common english name
# 3) The latin name
# 4) A comma-separated list of supported genome builds for this organism. The first will be the default build. The list can be empty if no builds are supported). Each genome build can list multiple alternative names separated by vertical bars '|'. The default name should be listed first in each group
# 5) A string specifying the clade: 'mammal', 'vertebrate', 'insect' or 'other' (corresponding to UCSC usage)

4577	Maize	Zea mays	AGPv3	plant
10090	Mouse	Mus musculus	mm10|NCBIM38|NCBIM_38|GRCm38,mm9|NCBIM37|NCBIM_37,mm8|NCBIM36|NCBIM_36,mm7|NCBIM35|NCBIM_35	mammal
10116	Rat	Rattus norvegicus	rn6|RGSC6|RGSC_6,rn5|RGSC5|RGSC_5,rn4|RGSC3.4|RGSC_3.4|Baylor 3.4	mammal
3702	Thale cress	Arabidopsis thaliana	TAIR10	plant
39946	Rice (Indica)	Oryza sativa Indica	ASM456v1	plant
39947	Rice (Japonica)	Oryza sativa Japonica	IRGSP-1.0	plant
4932	Yeast	Saccharomyces cerevisiae	sacCer2|SGD|SGD/S288C|EF4,sacCer3|R64-1-1	fungus
562	E. coli	Escherichia coli	REL606	bacteria
7227	Fruit fly	Drosophila melanogaster	dm3|BDGP R5|BDGP_R5	insect
7955	Zebrafish	Danio rerio	danRer6|Zv8|Zv_8,danRer5|Zv7|Zv_7	vertebrate
8364	Frog	Xenopus tropicalis	xenTro2|JGI 4.1|JGI_4.1	vertebrate
9031	Chicken	Gallus gallus	galGal3|WUGSC2.1|WUGSC_2.1	vertebrate
9606	Human	Homo sapiens	hg18|NCBI36|NCBI_36,hg19|GRCh37|GRCh_37,hg38|hg20|GRCh38|GRCh_38	mammal
9913	Cow	Bos taurus	bosTau4|Baylor 4.0|Baylor_4.0	mammal
9986	Rabbit	Oryctolagus cuniculus	oryCun2	vertebrate
10141	Guinea pig	Cavia porcellus	cavPor3	mammal
237561	C. Albicans	Candida Albicans	A21	fungus
