########################################
#                                      #
#            startup.config            #
#                                      #
########################################


#
# This protocol-script will be run automatically when MotifLab is started in GUI mode
#
# It can be used to provide defaults for various display settings,
# such as default color-palettes for certain region types.
# Note, however, that display settings are also saved together with a session,
# so if you load a session, the settings specified in that session will replace
# the ones listed here.
#
# The configuration script can also be used to preload data objects,
# for instance motif collections that you use all the time.
# Be aware, however, that data which relies on the presence of other data should not be preloaded
# (for instance feature data that require a set of sequences to be specified),
# since this can lead to MotifLab not being able to execute the protocol successfully and will
# thus not be able to start correctly.
#

# Example: If you uncomment the next line (remove # in front), the JASPAR Core motifs will be automatically loaded on startup.

#Jaspar_Core = new Motif Collection(Collection:Jaspar Core)




# The following lines describe the color-scheme used for the "ENCODE Chromatin State Segmentation by HMM" [wgEncodeBroadHmm] track described in the paper
#
#   Ernst J, et al. (2011) "Mapping and analysis of chromatin state dynamics in nine human cell types", Nature, 473(7345):43-49
#
# The light gray color #D0D0D0 used here for 13,14,15 is a little bit darker than the light gray at #F5F5F5 used by UCSC Genome Browser
#
$regionColor(1 Active Promoter)=#FF0000
$regionColor(2 Weak Promoter)=#FF6969
$regionColor(3 Poised Promoter)=#CF0BC6
$regionColor(4 Strong Enhancer)=#FACA00
$regionColor(5 Strong Enhancer)=#FACA00
$regionColor(6 Weak Enhancer)=#FFFC04
$regionColor(7 Weak Enhancer)=#FFFC04
$regionColor(8 Insulator)=#0ABEFE
$regionColor(9 Txn Transition)=#00B050
$regionColor(10 Txn Elongation)=#00B050
$regionColor(11 Weak Txn)=#99FF66
$regionColor(12 Repressed)=#7F7F7F
$regionColor(13 Heterochrom/lo)=#D0D0D0
$regionColor(14 Repetitive/CNV)=#D0D0D0
$regionColor(15 Repetitive/CNV)=#D0D0D0

$regionColor(1_Active_Promoter)=#FF0000
$regionColor(2_Weak_Promoter)=#FF6969
$regionColor(3_Poised_Promoter)=#CF0BC6
$regionColor(4_Strong_Enhancer)=#FACA00
$regionColor(5_Strong_Enhancer)=#FACA00
$regionColor(6_Weak_Enhancer)=#FFFC04
$regionColor(7_Weak_Enhancer)=#FFFC04
$regionColor(8_Insulator)=#0ABEFE
$regionColor(9_Txn_Transition)=#00B050
$regionColor(10_Txn_Elongation)=#00B050
$regionColor(11_Weak_Txn)=#99FF66
$regionColor(12_Repressed)=#7F7F7F
$regionColor(13_Heterochrom/lo)=#D0D0D0
$regionColor(14_Repetitive/CNV)=#D0D0D0
$regionColor(15_Repetitive/CNV)=#D0D0D0

$regionColor(Tss)=#FF0000
$regionColor(TssF)=#FF0000
$regionColor(PromF)=#FF6969
$regionColor(PromP)=#CF0BC6
$regionColor(Enh)=#FACA00
$regionColor(EnhF)=#FACA00
$regionColor(EnhWF)=#FFFC04
$regionColor(EnhW)=#FFFC04
$regionColor(DNaseU)=#FFFC04
$regionColor(DNaseD)=#FFFC04
$regionColor(FaireW)=#FFFC04
$regionColor(CtrcfO)=#0ABEFE
$regionColor(Ctcf)=#0ABEFE
$regionColor(Gen5')=#00B050
$regionColor(Elon)=#00B050
$regionColor(ElonW)=#00B050
$regionColor(Gen3')=#00B050
$regionColor(Pol2)=#00B050
$regionColor(H4K20)=#00B050
$regionColor(Low)=#99FF66
$regionColor(ReprD)=#7F7F7F
$regionColor(Repr)=#7F7F7F
$regionColor(ReprW)=#7F7F7F
$regionColor(Quies)=#D0D0D0
$regionColor(Art)=#D0D0D0


# Draw "ChromatinState" tracks in multi-color mode (as long as default names are used)
!multicolor(ChromatinState_Gm12878,ChromatinState_H1,ChromatinState_HepG2,ChromatinState_HMEC,ChromatinState_HSMM,ChromatinState_HUVEC,ChromatinState_K562,ChromatinState_NHLF,ChromatinState_NHEK)=TRUE

# Draw "RepeatMasker" tracks in multi-color mode also
!multicolor(RepeatMasker,RepeatMasker327)=TRUE


# Clustal color scheme for amino acid regions
!regioncolor(A)=#80a0f0
!regioncolor(R)=#f01505
!regioncolor(N)=#00ff00
!regioncolor(D)=#c048c0
!regioncolor(C)=#f08080
!regioncolor(Q)=#00ff00
!regioncolor(E)=#c048c0
!regioncolor(G)=#f09048
!regioncolor(H)=#15a4a4
!regioncolor(I)=#80a0f0
!regioncolor(L)=#80a0f0
!regioncolor(K)=#f01505
!regioncolor(M)=#80a0f0
!regioncolor(F)=#80a0f0
!regioncolor(P)=#ffff00
!regioncolor(S)=#00ff00
!regioncolor(T)=#00ff00
!regioncolor(W)=#80a0f0
!regioncolor(Y)=#15a4a4
!regioncolor(V)=#80a0f0
!regioncolor(Stop)=#000000

# Some default settings for drawing barcharts (used by e.g. "Benchmark" analysis).

# The following three settings affect the widths of the bars and the distances between them. 
# Note that "bardistance" is the distance from the start of one bar to the start of the next (not the spacing between), 
# so if "bardistance" is set to a value smaller than the "barwidth" the bars will overlap
$setting(barchart.barwidth)=8
$setting(barchart.bardistance)=12
$setting(barchart.bargroupspacing)=28

# Draw bars using flat fill or gradient fill (so they look like tubes). 
# Recognized values are "ON/YES/TRUE" or "OFF/NO/FALSE"
$setting(barchart.gradientfill)=OFF

# Draw borders around the bars. 
# The values "OFF","FALSE" or "NONE" turns off borders.
# If the value is the name or code for a color (e.g. "BLACK", "255,0,0" or "#FF8800") borders will be drawn in that color.
# Any other value will result in a border which is the same color as the bar itself but drawn slightly darker
$setting(barchart.border)=DARKER

# Offset for drop-shadow (0 is no shadow)
$setting(barchart.shadow)=2

# Draw a black box around the whole barchart, and draw grid-lines in X and Y direction
# Recognized values are "ON/YES/TRUE" or "OFF/NO/FALSE"
$setting(barchart.box)=OFF
$setting(barchart.gridX)=ON
$setting(barchart.gridY)=ON

# Colors for benchmark statistics
$setting("systemColor.Sensitivity")=RED
$setting("systemColor.Specificity")=GREEN
$setting("systemColor.Positive Predictive Value")=BLUE
$setting("systemColor.Negative Predictive Value")=YELLOW
$setting("systemColor.Performance Coefficient")=MAGENTA
$setting("systemColor.Average Site Performance")=CYAN
$setting("systemColor.F-measure")=ORANGE
$setting("systemColor.Accuracy")=LIGHT_GRAY
$setting("systemColor.Correlation Coefficient")=BLACK
$setting("systemColor.Sensitivity (site)")=255,140,140
$setting("systemColor.Positive Predictive Value (site)")=96,173,255      
$setting("systemColor.Average Site Performance (site)")=0,150,150
$setting("systemColor.Performance Coefficient (site)")=153,51,255
$setting("systemColor.F-measure (site)")=180,90,30

# Standard system colors palette (used e.g. when drawing graphs)
$setting("systemColor.color1")=RED
$setting("systemColor.color2")=BLUE
$setting("systemColor.color3")=GREEN
$setting("systemColor.color4")=MAGENTA
$setting("systemColor.color5")=CYAN
$setting("systemColor.color6")=YELLOW

# Colors used for small inline histograms in tables
$setting("systemColor.histogram")=100,100,255
$setting("systemColor.histogramSelected")=200,200,255

# Additional settings for drawing graphs
$setting("graph.tickFont")=Dialog
$setting("graph.tickFontSize")=12
$setting("graph.legendFont")=Dialog
$setting("graph.legendFontSize")=12
$setting("graph.labelFont")=Dialog
$setting("graph.labelFontSize")=12
$setting("graph.labelFontStyle")=bold
$setting("graph.titleFont")=Dialog
$setting("graph.titleFontSize")=14
$setting("graph.titleFontStyle")=bold

# 'graph.dotStyle' is the glyph used to plot data points in e.g. regression graphs. The available styles are: 0=circle, 1=filled circle, 2=box, 3=filled box, 4=x, 5=+, 6=*, 7=. 
$setting("graph.dotStyle")=0
$setting("graph.dotSize")=2

# Settings for drawing motif and module images
$setting("motif.border")=ON
$setting("motif.height")=19
$setting("motif.imageFormat")=gif
$setting("module.border")=ON
$setting("module.height")=28
$setting("module.imageFormat")=png

# Default TAB-spacing used in Output panels (changes to this setting only applies to new Output panels not existing ones)
$setting(systemSetting.tab)=8


